@page
@model AboutModel
@{
    ViewData["Title"] = "Acerca de";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<p>Samuel David Ek Tun</p>
